CMDLINE
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
autotools
bin
bin64
bin2012
binORBIS
config.h
config.hin
config.log
config.status
configure
obj
rpm.spec
stamp-h
stamp-h.in
stamp-h1
tags

# Alt's Additions
.vs/
ARM64/
build/

# These are the default patterns globally ignored by Subversion:
*~
*.a
*.al
*.bsc
*.db
*.la
*.lastcodeanalysis
*.lib
*.lo
*.ncb
*.o
*.obj
*.opendb
*.pdb
*.psess
*.pyc
*.pyo
*.rej
*.suo
*.user
*.vsp
*.vspx
.#*
.*.swp
.DS_store
.libs
